<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body style="margin: 0;">
    <div class="button-container">

    <button class="button" type="button" onclick="location.href='/home'" >HOME</button>
    <button class="button"type="button" onclick="location.href='/skills'" >SKILLS</button>
    <button class="button"type="button" onclick="location.href='/projects'" >PROJECTS</button>
    <button class="button"type="button" onclick="location.href='/contact'" >CONTACT</button>
    </div>
    

<style>
    
    
    .button{
    height:100px;
background-color:blue;
color:white;
font-weight:bold;
font-size:15px;
align-self: flex-start;
}
.button-container{
    display:flex;
}
.button-container .button{
    width: 25%;
}


    </style>

</body>
</html>
